/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dr-blue: #1b62e8;
    --dr-greyblue: #89a2e6;
    --dr-white: #ffffff;
    --dr-white_darker: #f6f6f6;
    --dr-black: #22272a;
}

body {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
    width: 100%;
}

nav {
    padding: 2rem;
}

h1 {
    margin: 2rem 0;
}

p {
    line-height: 1.5rem;
}

strong {
    font-size: 1.8rem;
    padding: 1rem;
}

/* #endregion common */

/* #region utilities */
.container {
    max-width: 1140px;
    margin: auto;
}

.navbar_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_link {
    text-decoration: none;
    color: black;
}


.buttons {
    margin-bottom: 5rem;
}

.button {
    padding: .8rem 1.2rem;

    border: 0;
    border-radius: 2rem;
}

.elem_img {
    width: 60%;
    padding: 2rem;
}

.elem_text {
    width: 40%;
    padding: 4rem;
}

.text_center {
    text-align: center;
}

.image_big {
    width: 100%;
}

.stars {
    padding: 2rem;
    
    background-image: url("/assets/img/stars.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


/* #region flex_utilities */

.d_flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.direction_row {
    flex-direction: row;
}

.direction_row_reverse {
    flex-direction: row-reverse;
}

.direction_column {
    flex-direction: column;
}

.direction_column_reverse {
    flex-direction: column-reverse;
}

/* #endregion flex_utilities */

/* #region columns_utilities */
.col_4 {
    width: calc((100% / 12) * 4);
    margin-right: .5rem;
}

.col_2 {
    width: calc((100% / 12) * 2);
}
/* #endregion columns_utilities */

/* #region margin_utilities */

.margin_x_1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin_y_1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* #endregion margin_utilities */

/* #region padding_utilities */
.padding_x_1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding_y_4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* #endregion padding_utilities */

/* #region color_utilities */
.color_white {
    color: var(--dr-white);
}

.color_black {
    color: var(--dr-black);
}

.bg_white {
    background-color: var(--dr-white);
}

.bg_white_darker {
    background-color: var(--dr-white_darker);
}

.bg_black {
    background-color: var(--dr-black);
}

.bg_greyblue {
    background-color: var(--dr-greyblue);
}

/* #endregion color_utilities */

/* #region textsize_utilities */

.text_big {
    font-size: 2.5rem;
}

.text_medium {
    font-size: 1.1rem;
}

.text_small {
    font-size: .8rem;
}

/* #endregion textsize_utilities */

/* #endregion utilities */

/* #region debug */
.debug #app_header {
    background-color: aquamarine;
}

.debug #app_main {
    background-color: aqua;
}

.debug #app_footer {
    min-height: 200px;
    background-color: aquamarine;
}

.debug .container {
    height: 100%;
    width: 1000px;
    background-color: azure;
}

.debug #navbar {
    min-height: 5rem;
    background-color: beige;
}

.debug .logo,
.debug #register_btn,
.debug #login_btn {
    height: 3rem;
    aspect-ratio: 2;
    border: 2px dashed black;

    background-color: transparent;
    padding: .5rem;
    font-size: 1rem;
}

.debug #register_btn,
.debug #login_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.debug .navbar_menu {
    min-height: 3rem;
    border: 2px dashed black;
}

.debug #jumbotron {
    height: 400px;
    background-color: aqua;
}

.debug section {
    min-height: 20vh;
    background-color: coral;
}

.debug .container {
    min-height: 20vh;
    background-color: yellowgreen;
}

.debug .elem_img {
    height: 20vh;

    background-color: burlywood;
    border: 2px dashed white;
}

.debug .elem_text {
    height: 20vh;
    background-color: cadetblue;
    border: 2px dashed white;
}

.debug #download_banner {
    height: 40rem;
    border: 2px dashed green;
}

.debug #footer {
    height: 34rem;
    background-color: cornflowerblue;
    border: 2px dashed orange;
}

.debug #footer_top {
    height: 90%;
    background-color: tomato;
    border: 2px dashed teal;
}

.debug #footer_bottom {
    height: 10%;
    background-color: tomato;
    border: 2px dashed teal;
}

.debug .col_4 {
    height: 90%;
    background-color: steelblue;
    border: 2px dashed red;
}

.debug .col_2 {
    height: 90%;
    background-color: springgreen;
    border: 2px dashed yellow;
}

/* #endregion debug */

/* #region main */
#app_header {
    display: flex;
    justify-content: center;

    background-image: url("/assets/img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#app_main {
    display: flex;
    justify-content: center;
}

#app_footer {
    display: flex;
    justify-content: center;
}

#app_header .container {
    display: flex;
    align-items: center;
}

#navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar nav {
    width: 100%;
}

#jumbotron {
    width: 100%;
    display: flex;
    justify-content: center;
}

#jumbotron .content {
    width: 70%;

    gap: 1rem;
}

#jumbotron p {
    width: 80%;
}

#app_main section .elem_text {
    gap: 1.8rem;
}

#app_main section:last-child p {
    width: 80%;
}

#download_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download_banner .content {
    margin: 2rem;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

#footer_bottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

/* #endregion main */